@import url("../../../_colors.module.css");
:root {
    --background-color: #242424;
    --text-color: #cacaca;
    --accent-color: #5f5f5f;
    --accent-color-2: #333333;
    --accent-color-3: #d3d3d3;
}
.ResultTable {
    display: flex;
    width: 700px;
    align-self: center;
    background-color: var(--background-color);
}

.TableHead {
    /* background-color: var(--background-color); */
    background-color: white;
}