.ResultPage {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 75vh;
	margin: 0 auto;
}

.Chart {
	width: 77rem;
	max-width: 700px;
	height: 400px;
	margin-top: 2rem;
}

.ResultText {
  width: 20rem;
  max-width: 300px;
  margin-right: 2rem;
  text-align: left;
}
