.ProfilePageWrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
  }
  
  .Details {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    background-color: var(--accent-color-2)
  }

  .ProfileImage{
    width: 80px;
    margin: 16px;
  }
  
  .Results {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    margin: 10px;
    height: 100%;
  }
  
  .Seconds {
    margin: 10px;
    height: 80%;
  }
  
  .Charts {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 400px;
  }