.NavbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #333;
  }
  
  .NavbarWrapper a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .NavbarWrapper a:hover {
    text-decoration: underline;
  }
  
  .NavbarWrapper a:first-child {
    margin-right: 10px;
  }

  .NavbarWrapper button {
    /* width: 100%; */
    padding: 10px;
    background-color: #242424;
    color: white;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .NavbarWrapper button:hover {
    background-color: #5f5f5f;
  }
  