@import url("../../../../_colors.module.css");
.MyModal {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: var(--accent-color-2)
    
    
}

.MyModalContent {
    padding: 25px;
    background:var(--background-color);
    border-radius: 16px;
    min-width: 250px;
    width: 80%; /* добавляем ширину в 80% от ширины экрана */
    height: 60%; /* добавляем высоту в 80% от высоты экрана */
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;

}