
.Word {
    margin-inline: 3px;
    display: inline-block;
    margin-top: 10px;
    font-size: x-large;
}

.TestWords {
    /* margin: auto; */
    margin-top: 200px;
    margin-inline: 120px;
    text-align:justify;
    
}